################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/krmvalidatie/v16
/.vs
infra/layers/*
dashboard/.env
infra/.env
